llama-parse 
llama-index-embeddings-fastembed
llama-index
fastembed
llama-index-vector-stores-qdrant
qdrant_client
llama-index-embeddings-ollama
llama_index-llms-ollama
python-dotenv
ipython==8.16.0

llama-index-llms-groq
